# dependencies
node_modules

# Next.js
.next
out

# production
dist
build

# local env
.env
.env*.local

# Prisma local databases
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.idea
.vscode
